@import "~antd/dist/reset.css";
@import "./libs/normalize";
@import "./variables/colors.module.scss";

//заголовков таблицы
thead[class*="ant-table-thead"] th {
  background-color: $white !important;
  border-top: .5px solid $lightdivider;

  &::before {
    display: none !important;
  }
}

// .ant-breadcrumb-separator{
//   border: 1px solid #ffffff00 !important;
//   background: rgba(0, 0, 0, 0) !important;
//   margin: -10px !important;
// }
// a{
//   color: inherit;
//   &:hover{
//     color: inherit;
//   }
// }
.ant-checkbox-inner {
  border: none !important;
  background-color: #EEEEEE !important;
  width: 25px !important;
  /* Устанавливает ширину чекбокса */
  height: 25px !important;
  /* Устанавливает высоту чекбокса */
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: $primary100 !important;
  /* Цвет фона для активного чекбокса */
  border-color: $primary100 !important;
  /* Цвет границы для активного чекбокса */
}

.ant-checkbox-inner::after {

  width: 8px !important;
  /* Устанавливает ширину иконки галочки */
  height: 14px !important;
  color: white !important;

  ;
  border: white;
  /* Устанавливает высоту иконки галочки */
  left: 5px;
  /* Центрирование по горизонтали */
  top: 2px;
  /* Центрирование по вертикали */
}

.ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: rgb(255, 255, 255);
  /* Цвет галочки */

}

.Servey_Servey_QuetionsContainer__YsQzU {
  .ant-card-body {

    padding: 5px 25px 25px 25px !important;
  }
}

.Servey_Servey_leftBar__OM72M {
  .ant-card-body {
    height: 92%;
    padding: 0 !important;
  }

  .ant-card-actions {
    button {
      width: 90%;
      height: 40px;
    }
  }
}

.AddQuiz_Quiz_tools__sHwal {
  .ant-card-body {
    height: 60vh !important;
    
    padding: 0 !important;
  }

  .ant-card-actions {
    button {
      width: 90%;
      height: 40px;
    }
  }
}

.ant-card {
  border: 1px solid #ccc;
}

.ant-checkbox-group-item {
  align-items: center !important;
}

.quizList {
  .ant-list-items {
    overflow: auto;
    height: 66vh;
  }
}

.borderBotInput {
  font-size: 24px;
  border: none !important;
  border-bottom: 1px solid #ccc !important;
}

.fokusInput {
  font-size: 18px !important;
  border: none !important;
}

.fokusInput:focus {
  border-bottom: 1px solid #ccc !important;
}